.App {
  text-align: center;
}

.App-logo {
  background-color: #ABC;
  border-radius: 40%;
  padding: 10px;
  height: 120px;
}

.App-header {
  background-color: #CCC;
  height: 140px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
